In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

load the weather data from the csv folder

In [65]:
df = pd.read_csv('/Users/sa24/Downloads/weather_api/data/csv/weather.csv')

Change the time column to datetime

In [66]:
df['time'] = pd.to_datetime(df['time'])

In [67]:
print(df)

       Unnamed: 0                time  temperature_2m  relative_humidity_2m  \
0               0 2022-01-01 00:00:00            18.0                    96
1               1 2022-01-01 01:00:00            18.2                    95
2               2 2022-01-01 02:00:00            18.0                    96
3               3 2022-01-01 03:00:00            17.9                    97
4               4 2022-01-01 04:00:00            17.8                    98
...           ...                 ...             ...                   ...
17515       17515 2023-12-31 19:00:00            26.5                    75
17516       17516 2023-12-31 20:00:00            25.9                    78
17517       17517 2023-12-31 21:00:00            25.2                    82
17518       17518 2023-12-31 22:00:00            24.0                    85
17519       17519 2023-12-31 23:00:00            22.7                    87

       precipitation  surface_pressure
0                0.0             906.6
1                0.1             907.4
2                0.1             907.2
3                0.3             906.5
4                1.0             905.9
...              ...               ...
17515            0.5             908.8
17516            0.5             908.4
17517            0.5             908.5
17518            3.2             909.0
17519            3.2             909.8

[17520 rows x 6 columns]

Set the DataFrame index using the time column

In [68]:
df.set_index("time", inplace=True)

In [69]:
print(df)

                     Unnamed: 0  temperature_2m  relative_humidity_2m  \
time
2022-01-01 00:00:00           0            18.0                    96
2022-01-01 01:00:00           1            18.2                    95
2022-01-01 02:00:00           2            18.0                    96
2022-01-01 03:00:00           3            17.9                    97
2022-01-01 04:00:00           4            17.8                    98
...                         ...             ...                   ...
2023-12-31 19:00:00       17515            26.5                    75
2023-12-31 20:00:00       17516            25.9                    78
2023-12-31 21:00:00       17517            25.2                    82
2023-12-31 22:00:00       17518            24.0                    85
2023-12-31 23:00:00       17519            22.7                    87

                     precipitation  surface_pressure
time
2022-01-01 00:00:00            0.0             906.6
2022-01-01 01:00:00            0.1             907.4
2022-01-01 02:00:00            0.1             907.2
2022-01-01 03:00:00            0.3             906.5
2022-01-01 04:00:00            1.0             905.9
...                            ...               ...
2023-12-31 19:00:00            0.5             908.8
2023-12-31 20:00:00            0.5             908.4
2023-12-31 21:00:00            0.5             908.5
2023-12-31 22:00:00            3.2             909.0
2023-12-31 23:00:00            3.2             909.8

[17520 rows x 5 columns]

In [70]:
df.head()

,Unnamed: 0,temperature_2m,relative_humidity_2m,precipitation,surface_pressure
time,,,,,
2022-01-01 00:00:00,0,18.0,96,0.0,906.6
2022-01-01 01:00:00,1,18.2,95,0.1,907.4
2022-01-01 02:00:00,2,18.0,96,0.1,907.2
2022-01-01 03:00:00,3,17.9,97,0.3,906.5
2022-01-01 04:00:00,4,17.8,98,1.0,905.9

Get the monthly median

In [89]:
monthly_median_data = df.resample('M').median()

/var/folders/fz/fjrs1yms7rbcd_w7wg96j1fm0000gn/T/ipykernel_36931/3333063971.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthhly_median_data = df.resample('M').median()

create csv fil to store monthly data

In [ ]:
df.to_csv("monthly_median_data.csv")

Save the monthly median to CSV

In [90]:
monthly_median_data.to_csv("/Users/sa24/Downloads/weather_api/data/csv/monthly_median_data.csv")

In [85]:
print(monthly_median_data)

            Unnamed: 0  temperature_2m  relative_humidity_2m  precipitation  \
time
2022-01-31       371.5           19.10                  92.0            0.1
2022-02-28      1079.5           19.10                  92.0            0.0
2022-03-31      1787.5           19.80                  84.0            0.0
2022-04-30      2519.5           18.45                  83.0            0.0
2022-05-31      3251.5           14.80                  79.0            0.0
2022-06-30      3983.5           15.40                  73.0            0.0
2022-07-31      4715.5           15.85                  59.0            0.0
2022-08-31      5459.5           16.70                  56.0            0.0
2022-09-30      6191.5           18.60                  61.0            0.0
2022-10-31      6923.5           19.80                  72.0            0.0
2022-11-30      7655.5           18.80                  78.0            0.0
2022-12-31      8387.5           20.40                  86.0            0.0
2023-01-31      9131.5           20.50                  88.0            0.1
2023-02-28      9839.5           21.80                  86.0            0.0
2023-03-31     10547.5           21.65                  82.0            0.0
2023-04-30     11279.5           19.70                  81.0            0.0
2023-05-31     12011.5           17.30                  76.0            0.0
2023-06-30     12743.5           15.80                  78.0            0.0
2023-07-31     13475.5           16.70                  72.0            0.0
2023-08-31     14219.5           18.80                  69.5            0.0
2023-09-30     14951.5           23.00                  60.0            0.0
2023-10-31     15683.5           22.60                  80.0            0.0
2023-11-30     16415.5           23.90                  71.5            0.0
2023-12-31     17147.5           23.30                  76.0            0.0

            surface_pressure
time
2022-01-31            908.70
2022-02-28            909.20
2022-03-31            910.10
2022-04-30            911.30
2022-05-31            912.40
2022-06-30            913.10
2022-07-31            914.40
2022-08-31            914.00
2022-09-30            912.30
2022-10-31            910.70
2022-11-30            910.80
2022-12-31            910.50
2023-01-31            911.80
2023-02-28            912.60
2023-03-31            913.40
2023-04-30            912.80
2023-05-31            914.80
2023-06-30            916.10
2023-07-31            916.50
2023-08-31            915.30
2023-09-30            914.25
2023-10-31            912.20
2023-11-30            911.50
2023-12-31            911.80

Get the Yearly median

In [93]:
yearly_median_data = df.resample('Y').median()

/var/folders/fz/fjrs1yms7rbcd_w7wg96j1fm0000gn/T/ipykernel_36931/3202544980.py:1: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly_median_data = df.resample('Y').median()

Create CSV file to save yearly data

In [92]:
df.to_csv('yearly_weather_data.csv')

In [94]:
yearly_median_data.to_csv('/Users/sa24/Downloads/weather_api/notebooks/yearly_weather_data.csv')

select the data in br_final

In [105]:
df = pd.read_csv("/Users/sa24/Downloads/weather_api/data/csv/br_final.csv")

See if there's any null values

In [106]:
df.isna().sum()

country                0
subdivision            0
type                   0
million_60kgs_bag      0
year                   0
nonbear_mill_trees     5
bear_mill_trees        5
nonbear_thous_hect     5
bear_thous_hect        5
trees_hect_bear        5
trees_hect_nonbear     5
avg_unemp_perc        48
dtype: int64

Drop null values

In [107]:
df.dropna(inplace=True)

In [108]:
print(df)

    country     subdivision     type  million_60kgs_bag  year  \
4    Brazil          Parana  Arabica                0.5  2002
9    Brazil          Parana  Arabica                2.6  2003
14   Brazil          Parana  Arabica                2.2  2004
19   Brazil          Parana  Arabica                2.6  2005
24   Brazil          Parana  Arabica                1.8  2006
..      ...             ...      ...                ...   ...
105  Brazil    Minas Gerais  Arabica               24.5  2022
106  Brazil  Espirito Santo  Arabica                3.7  2022
107  Brazil  Espirito Santo  Robusta               15.7  2022
108  Brazil       Sao Paulo  Arabica                4.6  2022
109  Brazil          Parana  Arabica                1.0  2022

     nonbear_mill_trees  bear_mill_trees  nonbear_thous_hect  bear_thous_hect  \
4                1500.0           4465.0               495.0           2120.0
9                1125.0           5265.0               315.0           2360.0
14                631.0           5050.0               205.0           2174.0
19                466.0           5255.0               148.0           2305.0
24                581.0           5330.0               175.0           2298.0
..                  ...              ...                 ...              ...
105              1500.0           6010.0               470.0           2010.0
106              1500.0           6010.0               470.0           2010.0
107              1500.0           6010.0               470.0           2010.0
108              1500.0           6010.0               470.0           2010.0
109              1500.0           6010.0               470.0           2010.0

     trees_hect_bear  trees_hect_nonbear  avg_unemp_perc
4             2106.0              3030.0           6.950
9             2231.0              3577.0           7.160
14            2323.0              3075.0           6.150
19            2280.0              3149.0           6.710
24            2319.0              3320.0           6.530
..               ...                 ...             ...
105           2990.0              3191.0           7.150
106           2990.0              3191.0           7.925
107           2990.0              3191.0           7.925
108           2990.0              3191.0           9.075
109           2990.0              3191.0           5.825

[62 rows x 12 columns]

In [166]:
df1 = pd.read_csv("/Users/sa24/Downloads/weather_api/data/csv/yearly_median_data.csv")

Merge br_final and yearly_median_data

In [175]:
harvest_data = df.join(df1, how='outer')

In [176]:
harvest_data = harvest_data.drop(columns="avg_unemp_perc",inplace=True)

In [177]:
harvest_data = pd.read_csv("/Users/sa24/Downloads/weather_api/data/csv/yearly_median_data.csv")

In [178]:
harvest_data.dropna(inplace=True)

In [179]:
df.to_csv("Harvest.csv")

In [174]:
harvest_data.to_csv("/Users/sa24/Downloads/weather_api/data/csv/Harvest.csv")